pipeline/PL_PARENT_ORCHESTRATION.json
{
	"name": "PL_PARENT_ORCHESTRATION",
	"properties": {
		"activities": [
			{
				"name": "LKUP_SQL_WATERMARK_DW",
				"description": "Hello test Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue FROM dbo.ADF_Watermark_Table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLSERVER_TBLLKUP",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachSQLTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_SQL_WATERMARK_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_SQL_WATERMARK_DW').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EXEC_SQL_INCREMENTAL_PIPELINE",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILD_INCREMENTAL_LOAD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@item().TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@item().WatermarkColumn",
										"type": "Expression"
									},
									"LastLoadValue": {
										"value": "@item().LastLoadValue",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string",
				"defaultValue": "@item().TableSchema"
			},
			"TableName": {
				"type": "string",
				"defaultValue": "@item().TableName"
			},
			"WatermarkColumn": {
				"type": "string",
				"defaultValue": "@item().WatermarkColumn"
			},
			"LastLoadValue": {
				"type": "string",
				"defaultValue": "@item().LastLoadValue"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-16T18:59:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}